<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BaseUsuarios" value="D:\Work\dotnet\TresCamadas\UI\Base\BaseUsuarios.txt"/>
		<add key="CaminhoArquivos" value="D:\Work\dotnet\TresCamadas\UI\Base\"/>
		<add key="SqlConnection" value="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=TresCamadas;Data Source=JDKS-PC\SQLEXPRESS"/>
	</appSettings>
</configuration>